body.menu-opened {
    padding-top: 227px;
    transition: padding-top 0.3s ease;
}

.img_fixed {
    position: relative;
    width: 100%;
    height: 500px !important;
    margin-top: 80px !important;
    background-image: url('/image/fundoprincipal.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img-container {
    position: relative;
    width: 100%;
}

.tit_img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.sub_img {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    margin-top: 80px;
}

.color-stripe {
    background-color: rgba(43, 76, 7, 0.75);
    
    height: 50px;
    width: 100%;
}

.folha_img {
    width: 255px;
    position: absolute;
    top: 78%;
    left: 83%;
    z-index: -1;
}

.sec_1 {
    text-align: center;
    font-size: 32px !important;
    font-weight: bold;
    margin-top: 40px;
    padding: 21px;
}

.sec_2 {
    text-align: center;
    font-size: 24px !important;
    font-weight: bold;
    padding: 12px;
}

.bloc_grey {
    background-color: #D9D9D9;
    font-family: 'Verdana', 'VerdanaB', sans-serif !important;

}

.text_2 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-left: 80px;
}

.bloc_gre {
    background-color: #98B362;
    font-family: 'Verdana', 'VerdanaB', sans-serif !important;
}

.text_3 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-left: 50px;

}

.icon_sec {
    position: relative;
    top: 58px;
    right: 140px;
}

.folha2_img {
    width: 290px;
    position: absolute;
    right: 84%;
    z-index: -1;
}

@media screen and (min-width: 820px) {
    /* .subtitulo_font{
        font-size: 18px !important;
    }  */
}

@media screen and (min-width:1024px){
    /* .subtitulo_font{
        font-size: 30px !important;
    }  */
}
