#titulo {
    color: green;
    text-align: center;
}
/* somente elementos do tipo p que tenham id igual a descrição */
p#descricao {
    color:blue;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

/*p.promocao {
    text-align: center;               
    background-color: lightgray;
}*/

h3.promocao {
    color: pink;
}

.nova {
    color:white;
    background-color: aqua;
}

.promocao {
    text-align: center;
    background-color: lightgreen;
}

p.final-pagina#rodape {
    background-color: lightgray;
    text-align: center;
}

/*.curso, .novo-curso {
    background-color: blanchedalmond;
}*/

.novo-curso {
    color: red;
}

.curso, .novo-curso, #rodape {
    border: 1px solid lightblue;
    padding: 8px;
}