/* Fontes */

/* Fonte Skeina */
@font-face {
    font-family: 'Skeina';
    src: url('Skeina.otf') format('opentype');
}

/* Font Felix Titling MT */
@font-face {
    font-family: 'Felix';
    src: url('Felix Titling MT.ttf') format('truetype');
}

/* Fonte EB Garamond: */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* Fonte Bree Serif: */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* Fonte Verdana */
@font-face {
    font-family: 'Verdana';
    src: url('verdana.ttf') format('truetype');
}
@font-face {
    font-family: 'VerdanaB';
    src: url(verdana-bold.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Bree Serif', serif;
}

.titulo_decorat {
    font-family: 'Skeina', 'Felix', 'Times New Roman' Times, serif;
    font-size: 24px;
    color: black;

}
.titulo_font {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

.subtitulo_font {
    font-family: 'Bree Serif', serif;
    font-size: 16px;
    color: black;
}

.texto_comum {
    font-family: ;
    font-size: 13px;
    color: black;

}

.bg-verde-claro {
    color: #98B362;
}

.bg-verde-forte{
    background-color: #407A3F;
}

.bg-verde-escuro {
    color: #356033;
}

.bg-marrom {
    color: #664A3F;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: -3px;
    margin-left: 0px;
    margin-bottom: -3px;
    font-size: 20px;
}

.titulo {
    margin-left: 5px;
    margin-top: 8px;
    color: white;
    text-decoration: none;
    font-weight: 200;
}

.botao {
    cursor: pointer;
    border-radius: 10px;
    height: 35px;
}

.botao:hover {
    background-color: #98B362;
}

.transicao a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.transicao a::before {
    content: '';
    position: absolute;
    top: 88%;
    left: 1%;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.transicao a:hover::before {
    width: 99%;
}

.icone {
    cursor: pointer;
}

.icone:hover {
    background-color: #98B362;
}

.pesquisa {
    color: #356033 !important;
    cursor: pointer;
}

.pesquisa:hover {
    background-color: #356033 !important;
    color: white !important;
}