/*font-family: 'Abril Fatface', cursive;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Playfair Display', serif;
font-family: 'Staatliches', cursive;
Brightly Orange Number 2: #f43a09
Grandpa Orange: #ffb766
Grey Blue Green: #c2edda
Live Green: #68d388*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

body{
    min-height: 100vh;  
    overflow-x: hidden;
    background-color: #fff; 
    background-size: cover;
    background-position: center; 
    display: flex;
    height: 100vh; 

}  

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/image/fundoprincipal.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  } 

.blog-card {
    position: absolute;
    height: 360px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    top: 42%;
    left: 21%;
    border-radius: 25px;
    background: white;
    /* box-shadow: 0 10px 50px rgba(255, 255, 255, 0.76); */
}
.inner-part {
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: c;
    padding: 0 25px;
}
#imgTap:checked ~ .inner-part {
    padding: 0;
    transition: 0.1s ease-in;
}
.inner-part .img {
    height: 260px;
    width: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.096);
}
#imgTap:checked ~ .inner-part .img {
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
    transition: 0.3s 0.2s ease-in;
}
.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: 0.6s;
}
#tap-1:checked ~ .inner-part .img-1,
#tap-2:checked ~ .inner-part .img-2,
#tap-3:checked ~ .inner-part .img-3,
#tap-4:checked ~ .inner-part .img-4,
#tap-5:checked ~ .inner-part .img-5,
#tap-6:checked ~ .inner-part .img-6,
#tap-7:checked ~ .inner-part .img-7,
#tap-8:checked ~ .inner-part .img-8 {
    opacity: 1;
    transition-delay: 0.2s;
}
.content {
    padding: 0 20px 0 35px;
    width: 530px;
    margin-left: 50px;
    opacity: 0;
    transition: 0.6s;
}
#imgTap:checked ~ .inner-part .content {
    display: none;
}
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3,
#tap-4:checked ~ .inner-part .content-4,
#tap-5:checked ~ .inner-part .content-5,
#tap-6:checked ~ .inner-part .content-6,
#tap-7:checked ~ .inner-part .content-7,
#tap-8:checked ~ .inner-part .content-8 {
    opacity: 1;
    margin-left: 0;
    z-index: 100;
    transition-delay: 0.3s;
}

.content .title {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}
.content .text {
    color: #000000;
    font-size: 19px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    line-height: 1.3em;
    text-align: justify;
}
.content button {
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(147deg, #09ff5b 0%, #b2f78a 74%);
}
.content button:hover {
    background: linear-gradient(147deg, #09ff5b 0%, #b2f78a 74%);
}
.sliders {
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
}
#imgTap:checked ~ .sliders {
    display: none;
}
.sliders .tap {
    position: relative;
    height: 10px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}
.sliders .tap:hover {
    background: #cccccc;
}
.sliders .tap:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: linear-gradient(147deg,#09ff5b 0%, #bdf89b 74%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.6s;
    transform-origin: left;
}
input[type="radio"],
input[type="checkbox"] {
    display: none;
}
#tap-1:checked ~ .sliders .tap-1:before,
#tap-2:checked ~ .sliders .tap-2:before,
#tap-3:checked ~ .sliders .tap-3:before,
#tap-4:checked ~ .sliders .tap-4:before,
#tap-5:checked ~ .sliders .tap-5:before,
#tap-6:checked ~ .sliders .tap-6:before,
#tap-7:checked ~ .sliders .tap-7:before,
#tap-8:checked ~ .sliders .tap-8:before {
    transform: scaleX(1);
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: black;
    background-color:rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

#titulo {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#sobre {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: auto;
    width: 1200px; 
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

#quemsomos {
    color: #fff;
    font-family:'Bree Serif', serif;
    text-align: center;
    font-size: 56px;
    margin: 0;
    position: absolute;
    top: 27%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
} 

#sobreback {
    background-image: url(/image/fundoprincipalescuro.jpg);
}

#compostagemback {
    background-image: url(/image/fundoprincipalescuro.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180vh;
    
}

#imgcomp {
    max-width: 480px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 30px;
}

.wrapper {
    margin: 150px;
    width: 80%;
}

.text-box {
    color: #fff;

}

.text-box h2 {
    font-size: 56px;
    color: #fff
}

.text-box p {
    font-size: 22px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    line-height: 1.5em;
    text-align: justify;
}

#imgexcel {
    max-width: 860px;
    border-radius: 30px;
    border: 2px solid #fff;
    margin-left: 150px;
}